
.real-container {
    display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  
}

.container {

    margin: auto;
    width: 30%;
    border: 3px solid red;
    padding: 10px;
    border-radius: 25px;

}

.text-container {
    font-weight: bold;
    padding-bottom: 10px;
}